* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.required p::after {
    content: " *";
    color: red;
}

/* HEADER */

.header-top {
    margin: 20px 256px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.nav-bar ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 32px;
    list-style: none;
}

.nav-bar li {
    transition: transform 0.3s ease-in-out;
}

.nav-bar li:hover {
    transform: scale(1.1);
}

.nav-bar li :hover {
    color: #c8aa6e;
}

.nav-bar a {
    text-decoration: none;
    white-space: nowrap;
}

.banner {
    width: 1920px;
    height: 800px;
    margin-bottom: 64px;
}

/* MAIN CONTENT */

.main-content {
    margin: 0 256px;
}

.champions {
    margin: 64px 0;
}

.champions h1 {
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
}

.champions ul {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    list-style: none;
}

.champions a {
    text-decoration: none;
}

.champions a img {
    width: 328px;
    height: 370px;
    display: block;
}
.champions a div {
    width: 328px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e4c67;
}

.champions div p {
    color: #fff;
    transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.champions div:hover p {
    text-shadow: 0 0 10px #ff6600, 0 0 20px #ff3300;
    transform: scale(1.05);
}
.champions div:hover {
    color: #c8aa6e;
    background-color: rgba(0, 0, 0, 0.7);
}

.checkout a {
    width: 1408px;
    height: 64px;
    margin: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000;
}

.checkout a p {
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.checkout a:hover p {
    transform: scale(1.03);
}

.embedded-video {
    width: 1408px;
    height: 636px;
    margin: 64px 0;
    background-image: url("../images/image 45.png");
}

.embedded-video iframe {
    width: 1408px;
    height: 636px;
    border: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.embedded-video iframe:hover {
    opacity: 1;
}

.signup-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 123px;
    align-items: center;
}

.signup-banner * {
    font-family: "Inter";
}

.jinx img {
    width: 688px;
    height: 840px;
    display: block;
}

.signup-form {
    width: 505px;
    height: 641px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 56px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
}

.signup-title {
    width: 367px;
    height: 79px;
    margin: 40px 69px 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    text-align: center;
}

.signup-title h1 {
    font-size: 32px;
}

.signup-title p {
    font-weight: 400;
    font-size: 18px;
    color: #7b8090;
}

.signup-form form {
    margin: 0px 40px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
}

.signup-form form p {
    font-weight: 400;
    font-size: 18px;
}

.signup-form form input {
    width: 425px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #d1d5db;
    font-weight: 400;
    font-size: 18px;
}

.signup-form form input:focus {
    outline: none;
    border-bottom: 1px solid #f05252;
    box-shadow: 0 1px 0 #f05252;
}

.signup-form button {
    width: 227px;
    height: 48px;
    margin: 0px 139px 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #f05252;
    transition: transform 0.3s ease-in-out;
}

.signup-form button:hover {
    cursor: pointer;
}

.signup-form button:active {
    transform: scale(0.98);
    background-color: #e94848;
}

/* FOOTER */

.footer p {
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}
